{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Symfony Shop{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 text-center">
            <h1 class="mb-4">Bienvenue sur Symfony Shop</h1>
            <div class="alert alert-info">
                <p>Vous n'êtes pas connecté. Veuillez vous connecter pour accéder à la boutique.</p>
                <a href="{{ path('app_login') }}" class="btn btn-primary mt-3">Se connecter</a>
                <a href="{{ path('app_register') }}" class="btn btn-outline-primary mt-3">S'inscrire</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}